body {
    background-color: rgb(14, 14, 14);
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    transform: translateY(25%);
}

#pic {
    perspective: 2000px;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    transition: all 0.5s ease;
}

.btn {
    margin-top: 50px;
    padding: 3px 16px;
    border-radius: 10px;
    color: white;
    outline: none;
    background-color: hsl(0, 100%, 60%);
    font-size: 25px;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(0, 100%, 50%);
}